<a href="https://colab.research.google.com/github/miguel-duque06/Analise_exploratoria-EDA/blob/main/Analise__exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise exploratória para uma empresa de chocolate:

![Chocolate](https://i.ytimg.com/vi/301nEGzgW10/maxresdefault.jpg)

In [46]:
import pandas as pd

In [47]:
url = '/content/Chocolate_Sales.csv'

In [48]:
dados_nulos = pd.read_csv(url)

In [49]:
dados_chocolate = dados_nulos.dropna()

#A empresa quer dar um prêmio para o maior vendedor deles
Objetivo: Identificar o vendedor com maior performance comercial através da análise do dataset Chocolate_Sales.csv contendo informações de Sales Person, Country, Product, Date, Amount e Boxes Shipped.

![Vendedor](https://lh3.googleusercontent.com/gg/AMW1TPq_Q4nW7-EkrogazReaaGWGotZBb7F8uA7nA69bat8M6_3RfyHt8_ejHMjjz-8oqGBd7PVLkDbnE1UFpFCq0aYojLTxH4NcdaPZxnypLnqCydbTUxTfC6XISf6XXSYvll6w85RycPu6NMj2gah6GmYUk8nz-Pr9LSh09-SabWoNsRq4oig=s1024-rj-mp2)

Limpando os dados da coluna "Amount" e tornando-os em float

In [50]:
dados_chocolate['Amount'] = (
    dados_chocolate['Amount']
    .astype(str)
    .str.replace('[$]', '', regex=True)     # Remove $
    .str.replace(',', '', regex=False)       # Remove vírgulas milhar
    .astype(float)                          # Python lê os numeros depois do . como decimal
)

Calculo das vendas por vendedor

In [54]:
faturamento_vendedor = dados_chocolate.groupby('Sales Person').agg({
    'Amount': 'sum',           # Faturamento total
    'Boxes Shipped': 'sum'     # Volume total
}).round(2)

# Ordena por faturamento (maior → menor)
faturamento_vendedor = faturamento_vendedor.sort_values('Amount', ascending=False)

In [55]:
faturamento_vendedor

                         Amount  Boxes Shipped
Sales Person
Ches Bonnell         1022599.96          23070
Oby Sorrel           1017204.12          26390
Madelene Upcott      1010028.72          22199
Kelci Walkden        1002929.10          26605
Brien Boise           997326.48          24738
Van Tuxwell           974425.09          20627
Dennison Crosswaite   931849.57          26862
Beverie Moffet        892421.37          28027
Kaine Padly           849062.76          22134
Marney O'Breen        836427.63          24595
Barr Faughny          830826.91          19520
Roddy Speechley       808359.58          21130
Gunar Cockshoot       762283.43          20299
Gigi Bohling          742296.51          19237
Karlen McCaffrey      713832.64          29553
Jehu Rudeforth        708505.03          22104
Jan Morforth          706585.50          23360
Curtice Advani        691797.92          21599
Rafaelita Blaksland   668865.45          13091
Husein Augar          656149.73          17683
Andria Kimpton        648214.81          19730
Mallorie Waber        642903.33          18219
Camilla Castle        628613.13          16505
Dotty Strutley        608101.17          20927
Wilone O'Kielt        439961.92          12233

#Gráfico do faturamento por vendedor

In [ ]:
faturamento_vendedor.plot(kind = 'bar', figsize= (14,10), color = 'gray', xlabel='Sales Person', ylabel='Amounts')

#A empresa está precisando deixar de vender um produto para diminuir os gastos
Objetivo: Identificar por meio de um gráfico qual produto está sendo menos vendido.

![Vendas caindo](https://img.freepik.com/fotos-premium/conceito-de-falencia-com-corrente-caindo-como-um-jogo-de-domino-e-diminuindo_207634-675.jpg?semt=ais_hybrid&w=740&q=80)

In [ ]:
frequencia_produtos = dados_chocolate['Product'].value_counts().sort_values()

In [ ]:
frequencia_produtos

#Gráfico dos produtos vendidos

In [ ]:
frequencia_produtos.plot(kind='barh', figsize=(14,10), color='red', xlabel='Count', ylabel='Product')

![Vendas mundo](https://lh3.googleusercontent.com/gg/AMW1TPqQQWaYpbRDkPp2E66m_C_zw11k9sZeKWnHDXV5n13FD-ZL1vsyp0bPHSwas1U59nw2wx6UN8_cjbSr2uANsLYrzLhBCL27jmoG7itIKP7b7gt9iWXvN7qgRDjOgVBaJGblkkJ3EW686Wy_dwP7XFdOlpQSDbpKBSlH9LFxxsj09cFteay4=s1024-rj-mp2)

#Qual país recebe mais pedidos?

In [ ]:
faturamento_pais = dados_chocolate['Country'].value_counts().sort_values()

In [ ]:
faturamento_pais

#Gráfico dos paises com mais pedidos

In [ ]:
faturamento_pais.plot(kind='barh', figsize=(14,10), color='brown')

#A empresa quer enteder qual mês eles devem aumentar a produção de chocolates
Objetivo: Identificar em qual mês a empresa vende mais.

![Mais vendas](https://abisa.com.br/site/wp-content/uploads/Grafico-de-colunas-aumento-vendas.jpg)

Convertendo Date para datetime

In [ ]:
dados_chocolate['Date'] = pd.to_datetime(dados_chocolate['Date'], format='%d/%m/%Y')

Extraindo MÊS

In [ ]:
dados_chocolate['Mes'] = dados_chocolate['Date'].dt.month

Calculando dados

In [ ]:
vendas_por_mes = dados_chocolate.groupby('Mes')['Amount'].sum()

In [ ]:
vendas_por_mes

#Gráfico dos meses com mais vendas

In [ ]:
vendas_por_mes.plot(kind='bar', figsize=(14,10), color='green')